## Project Intro: Intel Lab Data

This notebook contains information about data collected from 54 sensors deployed in the Intel Berkeley Research lab between February 28th and April 5th, 2004.

`Mica2Dot` sensors with weather boards collected timestamped topology information, along with humidity, temperature, light and voltage values once every 31 seconds.

Source: http://db.csail.mit.edu/labdata/labdata.html

## Import Libraries

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import psycopg2
import pandas as pd

## Dataset #1: Sensor Data

In [3]:
sensor_data = pd.read_csv('data/data.txt', sep=" ", header=None)
sensor_data.head()

            0                1   2    3         4         5      6        7
0  2004-03-31  03:38:15.757551   2  1.0  122.1530  -3.91901  11.04  2.03397
1  2004-02-28   00:59:16.02785   3  1.0   19.9884  37.09330  45.08  2.69964
2  2004-02-28   01:03:16.33393  11  1.0   19.3024  38.46290  45.08  2.68742
3  2004-02-28  01:06:16.013453  17  1.0   19.1652  38.80390  45.08  2.68742
4  2004-02-28  01:06:46.778088  18  1.0   19.1750  38.83790  45.08  2.69964

In [4]:
sensor_data.columns = ['date', 'time', 'epoch', 'mote_id', 
                       'temperature', 'humidity', 'light', 'voltage']
sensor_data.head()

,date,time,epoch,mote_id,temperature,humidity,light,voltage
0,2004-03-31,03:38:15.757551,2,1.0,122.1530,-3.91901,11.04,2.03397
1,2004-02-28,00:59:16.02785,3,1.0,19.9884,37.09330,45.08,2.69964
2,2004-02-28,01:03:16.33393,11,1.0,19.3024,38.46290,45.08,2.68742
3,2004-02-28,01:06:16.013453,17,1.0,19.1652,38.80390,45.08,2.68742
4,2004-02-28,01:06:46.778088,18,1.0,19.1750,38.83790,45.08,2.69964

### Inspect Sensor Data

In [12]:
sensor_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2313682 entries, 0 to 2313681
Data columns (total 8 columns):
date           object
time           object
epoch          int64
mote_id        float64
temperature    float64
humidity       float64
light          float64
voltage        float64
dtypes: float64(5), int64(1), object(2)
memory usage: 141.2+ MB

In [11]:
sensor_data[['temperature', 'humidity', 'light', 'voltage']].describe()

        temperature      humidity         light       voltage
count  2.312781e+06  2.312780e+06  2.219804e+06  2.313156e+06
mean   3.920700e+01  3.390814e+01  4.072110e+02  2.492552e+00
std    3.741923e+01  1.732152e+01  5.394276e+02  1.795743e-01
min   -3.840000e+01 -8.983130e+03  0.000000e+00  9.100830e-03
25%    2.040980e+01  3.187760e+01  3.956000e+01  2.385220e+00
50%    2.243840e+01  3.928030e+01  1.582400e+02  2.527320e+00
75%    2.702480e+01  4.358550e+01  5.372800e+02  2.627960e+00
max    3.855680e+02  1.375120e+02  1.847360e+03  1.856000e+01

## Dataset #2: Sensor Location